.left-nav {
    display: flex;
    flex-direction: column;
    width: 60px;
    background-color: white;
    cursor: pointer;
    position: relative; 
  }
  
  .left-nav.expanded {
    width: 300px;
  }
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    
  }
  
  .user-details{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  
  
  }
  .user-name-with-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3px;
  }



 .user-name{
    text-transform: capitalize;
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
 
    

  }
.user-email{
  display: flex;
  justify-content: center;
     color: gray;
     font-size: small;
     
  }
  .avatar-container {

    margin: 0 auto;
    margin-top: 10px;
    border-radius: 50%;
    position: relative;
    
   
  }


  .avatar-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
 
  }


  .overlay label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .overlay .icon {
    color: white;
  }
  
  .overlay input[type="file"] {
    display: none;
  }
  

  .delete-photo{
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 115px;
    color: white;
    padding: 2px;
  }
   


.profile-colors{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin: 15px auto;
    gap: 10px 15px;
   


  }
 .color-box{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    align-items: center;
  }

  .color-box:hover{
    scale: 1.25;
  }
  

  .buttons{
    display: flex;
    margin-top: auto;
    flex-direction: column;
    gap: 10px;
    align-self: center;
    margin-bottom: 20px;
    align-items: center;
 
  }

  .buttons.expanded{
   
    flex-direction: row;
    position: absolute;
    bottom: 5px;
    left:10px;
    
   
 }

  .add-users {
    background-color: rgb(34, 197, 94);
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 30px;
    padding: 6px;
  }
  
  .add-users:hover {
    background-color: rgb(75, 85, 99);
  }
  
  .logout-btn {
    cursor: pointer;
    color: black;
    padding: 8px;
  
  }
  
  .logout-btn:hover {
 
    background-color: gray;
    border-radius: 50%;

    
  }
  