
.user-popup{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  max-height: 320px;
  overflow: auto;
}

.user-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.user-item span{
  font-size: medium;
}

.user-item:hover {
  background-color: #f9f9f9;
}



.user-item .user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.user-item .user-details .display-name {
  font-size: 15px;
  text-transform: capitalize;

}

.user-item .user-details .email {
  font-size: 12px;
  color: #888888;
}


.user-list::-webkit-scrollbar {
  width: 6px;
}

.user-list::-webkit-scrollbar-track {
  background-color: darkgray;
}

.user-list::-webkit-scrollbar-thumb {
  background-color: gray;
}