.avatar {
  display: inline-block;
  position: relative;
}

.status{
  background-color:  #34D399;
  position: absolute;
  width: 10px;
  height: 10px;
  right: 2px;
  bottom: 2px;
  border-radius: 50%;
}

.avatar-image {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  object-fit: cover; 

}

.avatar-text {
  width: var(--avatar-size);
  height: var(--avatar-size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--avatar-text-size);
  background-color: var(--avatar-background-color);
  color: white;
  border-radius: 50%;
  text-transform: uppercase;
}
