.ChatFooter {
  background-color: #f4f3f8;
  height: 50px;
  padding: 10px;

}

.chatFooter-items{
  display: flex;
  align-items: center;
}

.ChatFooter input {
  border: none;
  outline: none;
  font-size: 18px;
  width: 100%;
  height: 40px;
  overflow: scroll;
  background-color: white;
  border-radius: 20px;
  padding-left: 40px;
  padding-top: 2px;
  padding-bottom:2px;

}

.attachment {
  font-size: 20px;
  position: relative;
  left: 32px;
  top: 2px;
  color: #709ce6;
  cursor: pointer;
}

.attachment-preview {
  position: absolute;
  bottom: 90px;
  width: 120px;
  height: 120px;
  left: 12px;
  background-color: black;
  border-radius: 6px;
  display: flex;

}

.attachment-preview .delete-image-preview {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 2px;
  cursor: pointer;
}

.attachment-preview img {
  margin: auto;
  width: 90%;
  height: 90%;
}



.ChatFooter input::placeholder {
  color: lightgrey;
}

.emoji-send-container {
  display: flex;
  align-items: center;
}

.emoji-btn {
  display: flex;
  position: absolute;
  right: 40px;
  font-size: 22px;
  color: #709ce6;
  cursor: pointer;
}

.emoji-picker {
  position: absolute;
  bottom: 48px;
  right: 100px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
